<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmartHome-MainScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71F5804B1BE06ED80077A383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71F580641BE06ED80077A383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71F5806F1BE06ED80077A383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
